<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>Contacto</title>
  <link rel="icon" href="../imagenes/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  
</head>
<body>
<header>
    <div id="navbar">
    <div class='container'>
        <h1>SKYSUN</h1>
        <input type="checkbox" id='menu-bar'>
        <label for="menu-bar"><i class="fas fa-bars"></i></label>
        <nav id='menu'>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="sobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>
</header>

<main>
    <h2>Contacto</h2>
    <div id='gridcontacto'>
    <section id='form'>
        <h3>Dejanos tu consulta</h3>
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y apellido">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Numero de contacto</label>
                <input type="tel" class="form-control" id="exampleFormControlInput2" placeholder="XX-XXXX-XXXX">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Email@tuemail.com">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Tu consulta</label>
              <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar consulta</button>
          </form>
    </section>


    <section id='map'>
        <p><i class="fab fa-facebook-square"></i>/SKYSUN</p>
        <p><i class="fab fa-instagram"></i>@SKYSUN</p>
        <p><i class="fas fa-globe-americas"></i>Avenida Siempre Viva 742, Springfield, Estados Unidos</p>
        <p><i class="fab fa-whatsapp"></i>+54 9 11 1234-5678</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26256.305408309003!2d-58.54295590000001!3d-34.6537388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc869552ddf31%3A0xa5256369012b1f4b!2sIng%20Pereyra%203844%2C%20Ciudadela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1608711600910!5m2!1ses-419!2sar" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
</div>
</main>
<footer id='footer'>
    <hr>    
    <div><a href="https://www.facebook.com/Dario.Novella/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/darionovella/"><i class="fab fa-instagram"></i></a>
        <a href="mailto:dario.novella@gmail.com"><i class="far fa-envelope"></i></a></div>

    <p><i class="fas fa-globe-americas"></i>Avenida Siempre Viva 742, Springfield, Estados Unidos</p>
    
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
</body>
</html>