@import "components/bannerindex";
@import "components/mainindex";
@import "components/footer";
@import "components/navbar";
@import "components/mainproductos";
@import "components/maincontacto";
@import "components/mainservicios";
@import "components/mainsobrenosotros";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6
}

h1,h2,h3,h4,p,a{
    font-family: 'Roboto', sans-serif;
}

section{
    margin-bottom:20px;
}

html{
    scroll-behavior: smooth;
}

main{
    margin-top:50px;
}
